<a href="https://colab.research.google.com/github/sarim711/Disease_Prediction_ML/blob/main/Heart_Disease_Detection/Heart_Disease_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

Data Collection and Processing

In [ ]:
#loadind csv data to panda dataframe
heart_disease = pd.read_csv('/content/processed.cleveland.data')

In [ ]:
import pandas as pd

# Define correct column names
column_names = [
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg",
    "thalach", "exang", "oldpeak", "slope", "ca", "thal", "target"
]

# Load the dataset while assigning column names
df = pd.read_csv("processed.cleveland.data", names=column_names, na_values="?")

# Display the first few rows
print(df.head())

    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1  67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2  67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3  37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4  41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4

   slope   ca  thal  target
0    3.0  0.0   6.0       0
1    2.0  3.0   3.0       2
2    2.0  2.0   7.0       1
3    3.0  0.0   3.0       0
4    1.0  0.0   3.0       0

In [ ]:
#number of rows and columns
df.shape

(303, 14)

In [ ]:
#getting info about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        299 non-null    float64
 12  thal      301 non-null    float64
 13  target    303 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 33.3 KB

In [ ]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,3.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768,4.730640,0.946128
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,1.938629,1.234551
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000

In [ ]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
target      0
dtype: int64

In [ ]:
df.dropna(inplace=True)
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
df['target'].value_counts()

target
0    160
1     54
2     35
3     35
4     13
Name: count, dtype: int64

0	=No Heart Disease

1	Mild Heart Disease

2	Moderate Heart Disease

3	Severe Heart Disease

4	Critical Heart Disease

In [ ]:
# Convert multi-class target to binary classification
df["target"] = df["target"].apply(lambda x: 1 if x > 0 else 0)

# Verify class distribution
print(df["target"].value_counts())

target
0    160
1    137
Name: count, dtype: int64

In [ ]:


# Split dataset into training and testing
X = df.drop(columns=["target"])  # Features
Y = df["target"]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

# Standardize features for better performance
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train multinomial logistic regression
model = LogisticRegression(solver="liblinear", max_iter=1000)
model.fit(X_train, Y_train)

# Predict on training and test data
Y_train_pred = model.predict(X_train)
Y_test_pred = model.predict(X_test)

In [ ]:
train_acc = accuracy_score(Y_train, Y_train_pred)
print(f"Training Accuracy: {train_acc:.4f}")

Training Accuracy: 0.8565

In [ ]:
#accuracy score on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(f"Test Accuracy: {test_data_accuracy:.4f}")

Test Accuracy: 0.8333

In [ ]:
print("Classification Report:")
print(classification_report(Y_test, Y_test_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.81      0.84        32
           1       0.80      0.86      0.83        28

    accuracy                           0.83        60
   macro avg       0.83      0.83      0.83        60
weighted avg       0.84      0.83      0.83        60

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {"C": [0.01, 0.1, 1, 10, 100]}
grid = GridSearchCV(LogisticRegression(solver="lbfgs", max_iter=1000), param_grid, cv=10)
grid.fit(X_train, Y_train)
print(f"Best C value: {grid.best_params_}")
best_model = grid.best_estimator_

Best C value: {'C': 1}

In [ ]:
model = LogisticRegression(solver="lbfgs", C=1, max_iter=1000)  # Optimized model
model.fit(X_train, Y_train)

# Evaluate on test data
Y_pred = model.predict(X_test)
test_accuracy = accuracy_score(Y_test, Y_pred)
print(f"Test Accuracy: {test_accuracy:.4f}")

Test Accuracy: 0.8333

Building predictive system

In [ ]:
input_data = (57, 1, 2, 146, 360, 0, 2, 159, 1, 0.36, 0, 2, 1)
#change this tuple data into numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshaping the numpy array to predict 1 data point
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if  (prediction[0] ==0):
  print('The person does not have heart disease')
else :
  print('The person has heart disease')

[1]
The person has heart disease